*.sy
*.qs
QuonkScript
quonk
.idea
**/coverage
.developer-docs
.llvm
**/smoke*
sydney_rt/target
CLAUDE.md
*.ll
/module
/.error-handling
sydney
!stdlib/**/*.sy
.testing
.todos
.changelog
.stdlib
.generics
.panic
.sockets
.concurrency